<header>
  <a href="/" id="logo">
    <img src="../../public/icones/logo.png" alt="logo">
  </a>

  <form id="search" accept-charset="UTF-8">
    <input type="search" id="search-bar" placeholder="Buscar uma palavra" autocomplete="off"> 
  </form>
  <div id="more-btn">
    <img id="img-more" src="../../public/icones/more.svg" alt="more">
  </div>
</header>

<div id="popover-content">
  <ul>
    <li><a href="/enviar/definicao">Enviar Definição</a></li>
  </ul>
</div>

<div id="resultado-container">
  <div id="resultado-pesquisa">
    <ul id="lista-res">
      
    </ul>
  </div>
</div> 